# private configurations
/config.mk

# staging patches
/gadget/staging/*/*.patch

# drop-in user VM OS images
/uos/images/*.img.xz

# snapcraft artifacts
parts/
stage/
prime/
snap/
*.snap

# ubuntu-image artifacts
/images/*/seed.manifest
/images/*/snaps.manifest
/images/*/*.img
/images/*/*.img.xz

# signed model assertions
/model/*.model
